body,
#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: clip;
    /* background-color: #ebebeb; */

    /* font-size: 0.8rem; */
    /* box-sizing: content-box; */
}

.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.holomorphic {
    box-shadow: 5px 5px 12px Silver, -5px -5px 12px white;
}

.holomorphic_inv {
    box-shadow: 5px 5px 12px white, -5px -5px 12px Silver;
}

*::-webkit-scrollbar {
    width: 0.5em;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    /* border-left: #818181 0.5px solid; */
}

*::-webkit-scrollbar-thumb {
    /* background-color: black; */
    background-color: white;
    border-radius: 0.5em;
    /* border-radius: 1em; */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #222;
}

.inv::-webkit-scrollbar-thumb {
    background-color: white;
    /* border-radius: 1em; */
}
.inv::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}
.inv::-webkit-scrollbar-track {
    background-color: black;
    border-left: #333 0.5px solid;
}

.inv::-webkit-scrollbar {
    height: 0.5em;
}
